.bracketsGroup + .bracketsGroup {
  margin-top: 48px;
}

.bracketsContentLink {
  display: block;
}

.bracketsContentLink + .bracketsContentLink {
  margin-top: 16px;
}

.bracketsContentImage {
  margin-top: 16px;
}
