:root {
  --color-primary: #4786e3;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #e0e0e2;
  --color-border: #d9dbde;
  --color-background: #edeef2;
  --color-division-hotbox: #f9d74e;
  --color-division-snack: #377e3f;
  --color-division-meal: #e7547f;
  --color-division-beverage: #283cf4;
}

html {
  font-family: Poppins, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--color-background);
}

.card {
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-white);
}

.emphasis {
  font-weight: 600;
}

.content--visible {
  opacity: 1;
}

.content--hidden {
  opacity: 0;
}

.content--animating {
  transition: opacity 0.3s ease-in-out;
}
