:root {
  --color-primary: #4786e3;
  --color-success: #4bb543;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border: #d9dbde;
  --color-background: #edeef2;
  --color-division-hotbox: #f82b60;
  --color-division-snack: #20c933;
  --color-division-meal: #fcb400;
  --color-division-beverage: #2d7ff9;
}

html {
  font-family: 'Poppins', 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--color-background);
}

.emphasis {
  font-weight: bold;
}
