:root {
  --color-primary: #4786e3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border: #d9dbde;
  --color-background: #edeef2;
}

html {
  font-family: 'Poppins', 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--color-background);
}
