.tablist {
  padding: 0 48px;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-white);
}

.tablistItem {
  padding: 0 0 6px;
  border: unset;
  border-bottom: 4px solid transparent;
  background: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
}

.tablistItem[data-headlessui-state='selected'] {
  border-color: var(--color-primary);
}

.tablistItem + .tablistItem {
  margin-left: 24px;
}

.tabpanel {
  margin: 16px 48px;
  padding-bottom: 16px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .tablist {
    padding: 0 16px;
  }

  .tabpanel {
    margin: 16px;
    padding-bottom: 8px;
  }
}

.indexLink {
  margin: 8px 0;
  font-size: 20px;
}

.indexMatchups {
  margin-top: 16px;
}

.indexMatchups + .indexMatchups {
  margin-top: 48px;
}

.indexMatchupsDisabled {
  opacity: 0.6;
}

.brackets {
  max-width: var(--width-max-content);
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-white);
}

.bracketsImage {
  margin-top: 16px;
}

.information {
  max-width: var(--width-max-content);
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-white);
}
