.matchup {
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  white-space: pre;
  background-color: var(--color-white);
}

.matchupDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchupItems {
  display: flex;
  justify-content: space-between;
}

.matchupActions {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.matchupActionsIcon {
  margin-left: 8px;
}
