.header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-white);
}

.headerIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.headerHeading {
  margin-left: 12px;
  font-size: 1.25rem;
}

@media screen and (min-width: 769px) {
  .header {
    padding: 24px 48px;
  }

  .headerIcon {
    width: 64px;
    height: 64px;
  }

  .headerHeading {
    margin-left: 24px;
    font-size: 2rem;
  }
}
