.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item--right {
  flex-direction: row-reverse;
}

.item--right .itemDetails {
  text-align: end;
}

.item--right .itemDetailsName {
  flex-direction: row-reverse;
}

.itemImage {
  object-fit: contain;
  height: 128px;
  width: 128px;
}

.itemDetails {
  margin: 16px 8px;
}

.itemDetailsDivision {
  display: inline-block;
  padding: 0 6px;
  font-size: 12px;
  border-radius: 16px;
  color: var(--color-white);
}

.itemDetailsDivision {
  background-color: darkgray;
}

.itemDetailsDivision--hotbox {
  background-color: var(--color-division-hotbox);
}

.itemDetailsDivision--snack {
  background-color: var(--color-division-snack);
}

.itemDetailsDivision--meal {
  background-color: var(--color-division-meal);
}

.itemDetailsDivision--beverage {
  background-color: var(--color-division-beverage);
}

.itemDetailsName {
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-weight: 600;
  font-size: 18px;
}

.itemDetailsNameWinner {
  display: inline-block;
  margin: 0 4px;
}

@media screen and (max-width: 768px) {
  .item--left {
    align-self: start;
  }

  .item--right {
    margin-top: 16px;
    align-self: end;
  }

  .itemImage {
    width: 96px;
    height: 96px;
  }

  .itemDetailsDivision {
    font-size: 12px;
  }

  .itemDetailsName {
    font-size: 16px;
  }
}
